name: Issue
on:
  issues: 
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Show issue title
       run: |
         echo "Title: ${{ github.event.issue.title }}"
         echo "Body: ${{ github.event.issue.body }}"
